
.form-item{
  background-color: teal;
  display:grid;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  color: white;
  align-items: center;
  margin: 20px auto 20px auto ;
  height: auto;
  width: 500px;
  border-radius: 60px;

}
label{
  display: flex;
  justify-content: center;
  margin: 20px 0px 10px 0px;

}
input{
    display: flex;
    outline: none;
   border-radius: 70px;
   text-align: center;
   margin: 10px 30px 0px 30px ;
   height: 50px;

}
