.items-container {
  max-width: 900px;
  margin: 20px auto;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  input {
    width: 70%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }

  .add-button {
    padding: 10px 20px;
    background-color: teal;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
}

.items-table {
  width: 100%;
  border-collapse: collapse;

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f4f4f4;
  }

  tr:hover {
    background-color: #f9f9f9;
  }

  .edit-button {
    background-color: teal;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  .delete-button {
    background-color: lightseagreen;
    color: white;
    padding: 6px 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
}

.no-items {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #555;
}

.pagination-container {
  margin-top: 25px;
  text-align: center;

  .page-btn {
    padding: 8px 14px;
    background-color: teal;
    color: white;
    border: none;
    border-radius: 6px;
    margin: 0 8px;
    cursor: pointer;

    &:disabled {
      background-color: gray;
      cursor: not-allowed;
    }
  }

  .page-number {
    padding: 6px 12px;
    margin: 0 4px;
    border: 1px solid teal;
    border-radius: 5px;
    cursor: pointer;

    &.active {
      background-color: teal;
      color: white;
    }
  }
}
.confirm-row {
  background-color: lightgray;
}

.confirm-box {
  padding: 10px;
  border: 1px solid black;
  background-color: teal;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.btn-yes {
  background-color: red;
  color: white;
  padding: 5px 15px;
  margin-right: 10px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

.btn-no {
  background-color: gray;
  color: white;
  padding: 5px 15px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}

