.navbar {
  width: 100%;
  background-color: teal;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-title {
  color: white;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
