
.form-item{
  background-color: teal;
  display:grid;
  font-family: 'Times New Roman', Times, serif;
  font-size: larger;
  color: white;
  align-items: center;
  margin: 20px auto 20px auto ;
  height: auto;
  width: 500px;
  border-radius: 60px;

}
label{
  display: flex;
  justify-content: center;
  margin: 20px 0px 10px 0px;
  font-family: 'Times New Roman', Times, serif;

}
input{
    display: flex;
    outline: none;
   border-radius: 70px;
   text-align: center;
   margin: 10px 30px 0px 30px ;
   height: 50px;
   cursor: pointer;

}
button{
  width: 150px;
  padding: 10px;
  background-color: rgb(89, 222, 240);
  border: none;
  border-radius: 40px;
  color: black;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s;
  margin: 20px auto 20px auto ;
  font-family: 'Times New Roman', Times, serif;
}

.form-item input.ng-invalid.ng-touched {
  border-color: #e74c3c;
  background-color: #ffeaea;
}

.error-box {
  background-color: #ffe6e6;
  border-left: 4px solid #e74c3c;
  padding: 8px 10px;
  margin-top: 6px;
  border-radius: 4px;
  font-size: 13px;
  color: #cc0000;
}

.error-box div {
  margin: 2px 0;
}
